<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
<script>
VANTA.BIRDS({
  el: ".home-section-bg",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00
})
</script>

<script>
// const roles = ["a Software Developer", "an Automation Engineer", "a Dancer", "a Pool Shark", "a Pianist"];
const roles = ["have dance battles 🕺🏽", "shoot hoops 🏀", "play the piano 🎹", "go swimming 🏊🏽‍♂️", "work out 💪🏽"];

let currentRoleIndex = 0;
let currentCharIndex = 0;
const roleElementParent = document.querySelector("div[class='article-style pt-1']");
const portraitTitleElement = document.querySelector("div[class='portrait-title']");

  portraitTitleElement.innerHTML = `<p style="font-size: 1.5rem; margin-bottom: 0; margin-top: 0.5rem;">👋 Hi, I'm Mikey.</p><br style="content: ''";><p style="font-size: 2.3rem; margin-bottom: 0.5rem; color: #ff70ee;">Software Engineer</p><p style="font-size: 1rem; font-weight: 300;">Find out more about me.</p>`

// roleElementParent.innerHTML = `<p>👋 Hi there! I'm Mikey, an <span style="color: #51ff00">automation engineer</span></p><p style="font-size: 0.6rem">who also loves to <span style="color: #ff008d" id="role"></span>.</p>`
// roleElementParent.innerHTML = `<p>👋 Hi there! I'm Mikey, an <span style="color: #51ff00">automation engineer</span>.</p>`
roleElementParent.innerHTML = ``


/*const roleElement = document.getElementById("role");

function typeRole() {
  const currentRole = roles[currentRoleIndex];
  roleElement.textContent = currentRole.substring(0, currentCharIndex);
  currentCharIndex++;

  if (currentCharIndex > currentRole.length) {
    setTimeout(eraseRole, 2000); // Pause for 2 seconds before erasing
  } else {
    setTimeout(typeRole, 75); // Typing speed (adjust as desired)
  }
}

function eraseRole() {
  const currentRole = roles[currentRoleIndex];
  roleElement.textContent = currentRole.substring(0, currentCharIndex);
  currentCharIndex--;

if (currentCharIndex === 0) {
    currentRoleIndex = (currentRoleIndex + 1) % roles.length;
    setTimeout(typeRole, 500); // Pause for a short time before retyping the next role
  } else {
    setTimeout(eraseRole, 75); // Erasing speed (adjust as desired)
  }
}

// Start the typewriter effect
typeRole();*/
</script>
